name: HIFINI-Auto-Checkin

on:
  push:
    branches-ignore:
      - master
  schedule:
    # UTC+8 ??:??
    - cron: "15 14 * * *"
  workflow_dispatch:

jobs:
  checkin:
    name: Checkin
    runs-on: ubuntu-latest
    environment: HIFINI
    env:
      COOKIE: ${{ secrets.HIFINI_COOKIE }}

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js latest.
        uses: actions/setup-node@v4
        with:
          node-version: latest

      - name: Checkin Main
        shell: bash
        run: |
          node hifini.js

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1.2.1
